# Configurações do PostgreSQL
DATABASE_PASSWORD="your_password_here"
DATABASE_HOST="postgresql://user:password@host:port/database"

# Configurações do DataLake
S3_ENDPOINT_URL="https://your_endpoint.storage.com/storage/v1/s3"
AWS_REGION="your_region"
AWS_ACCESS_KEY_ID="your_access_key"
AWS_SECRET_ACCESS_KEY="your_secret_key"
BUCKET_NAME="your_bucket_name"